/*----------------------------------------------------------------
VARIABLES & MIXINS
-----------------------------------------------------------------*/

/* Margins & paddings */
$margin-ver: 5px; 
$margin-hor: 5px;
$padding-ver: 30px;
$padding-hor: 30px;
 
/* Colors */
$hacker_orange: #FF6600; 
$light_grey: #e4e4e4; 
$dark_blue: #323741; 
$aqua: #06858C; 


/* Column widths */
$one: 8.333333333%; 
$two: 16.666666667%; 
$fifth: 20%; 
$three: 25%; 
$four: 33.333333333%; 
$five: 41.666666667%; 
$six: 50%; 
$seven: 58.333333333%; 
$eight: 66.666666667%; 
$nine: 75%; 
$ten: 83.333333333%; 
$eleven: 91.666666667%; 
$twelve: 100%;  