/*----------------------------------------------------------------
VARIABLES 
-----------------------------------------------------------------*/

/* Margins & paddings */
$margin-ver: 6px; 
$margin-hor: 6px;
$padding-ver: 30px;
$padding-hor: 30px;

/* Colors */
$hacker_orange: #FF6600; 
$black: #202020; 
$white: #FFF; 

/* Grid column widths */
$one: 8.333333333%; 
$two: 16.666666667%; 
$fifth: 20%; 
$three: 25%; 
$four: 33.333333333%; 
$five: 41.666666667%; 
$six: 50%; 
$seven: 58.333333333%; 
$eight: 66.666666667%; 
$nine: 75%; 
$ten: 83.333333333%; 
$eleven: 91.666666667%; 
$twelve: 100%;  


/*----------------------------------------------------------------
MIXINS 
-----------------------------------------------------------------*/

/* Grid widths */
@mixin flex-basis-margin($gridclass) {
    flex-basis: calc(#{$gridclass} - (#{$margin-hor} * 2));
}

@mixin flex-basis-padding($gridclass) {
    flex-basis: calc(#{$gridclass} - (#{$padding-hor} * 2));
}

@mixin flex-basis-margin-padding($gridclass) {
    flex-basis: calc(#{$gridclass} - (#{$margin-hor} * 2) - (#{$padding-hor} * 2));
}

/* Media queries */
@mixin breakpoint($point) {
    @if $point == l {
        @media (max-width: 1440px) {
            @content;
        }
    }
    @else if $point == m {
        @media (max-width: 1024px) {
            @content;
        }
    }
    @else if $point == s {
        @media (max-width: 780px) {
            @content;
        }
    }
    @else if $point == xs {
        @media (max-width: 640px) {
            @content;
        }
    }
}