/*----------------------------------------------------------------
IMPORT 
-----------------------------------------------------------------*/
@import 'helpers';
@import 'grid';

/*----------------------------------------------------------------
GENERAL STYLES 
-----------------------------------------------------------------*/
body {
    box-sizing: border-box; 
    background: #F6F6EF; 
    font-family: Lato; 
    font-weight: 300; 
    line-height: 1.55; 
}

main {
    padding: 3rem;

    @include breakpoint(m) {
        padding: 2rem;
    }
    @include breakpoint(s) {
        padding: 1rem;
    }
}

h2 {
    margin: 1rem 0 .5rem; 
    font-family: 'Bitter'; 
    font-size: 1.7em;
    font-weight: 400;

    @include breakpoint(xs) {
        font-size: 1.5em;
    }

} 

h3 {
    margin: 0;
    padding: 0;   
    font-family: 'Lato';
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: .4pt;
    word-spacing: 1pt;

    @include breakpoint(xs) {
        font-size: 1.1em;
    }

    &:first-letter {
        text-transform: uppercase;
    }
}

p {
    margin: 3px 0 1rem; 

    &:first-letter {
        text-transform: uppercase;
    }
}


/*----------------------------------------------------------------
WRAPPERS & CONTAINERS
-----------------------------------------------------------------*/
.container { 
    width: 100%; 
    max-width: 1024px;
    margin: 0 auto;

    &.lrg {
        max-width: 1300px;
    }
}


/*----------------------------------------------------------------
CONTENTS
-----------------------------------------------------------------*/
/* logo */
.logo-wrapper {
    flex: 0 0 100px;
    padding: 1rem 2rem;
    background: $hacker_orange;

    @include breakpoint(s) {
        flex: 0 0 90px;
    }

    @include breakpoint(xs) {
        flex: 1 0 80%;
        padding: 10px;
    }

    img.logo {
        width: 50px;
        height: auto;
        padding: 20px;

        @include breakpoint(m) {
            width: 50px;
            padding: 10px;
        }

        @include breakpoint(s) {
            width: 40px;
        }

        @include breakpoint(xs) {
            height: 30px;
            width: auto;
            padding: 10px;
        }


    }
}

/* news with images */
.hasimage {
    position: relative; 
    overflow: hidden;  

    &.mainitem-1 {
        flex: 1 0 40%;

        .newsitemtext {
            background: rgba(38, 118, 126, 0.6); 
        }
    }

    &.mainitem-2 {
        flex: 1 0 45%;

        @include breakpoint(s) {
            flex: 1 0 95%;
        }
        .newsitemtext {
            background: rgba(20, 135, 141, 0.6); 
        }
    }

    &.mainitem-3 {
        flex: 1 0 45%;

        @include breakpoint(s) {
            flex: 1 0 95%;
        }
        .newsitemtext {
            background: rgba(38, 118, 126, 0.6); 
        }
    }

    &.mainitem-4 {
        flex: 1 0 90%;

        .newsitemtext {
            background: rgba(38, 118, 126, 0.6); 
        }
    }

    .newsimage { 
        position: absolute; 
        z-index: 0; 
        width: 108%; 
        height: 100%; 
        background-size: cover;
        background-position: -15px center; 
        filter: blur(12px) grayscale(100%) brightness(90%);
        transition: 0.2s ease 0s;
    }

    .newsitemtext {
        position: relative;
        display: block;
        overflow: hidden;
        box-sizing: border-box; 
        z-index:1; 
        height: 100%; 
        padding: 2rem;
        color: $white; 
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
        font-size: 1.15rem;
        line-height: 1.2;

        @include breakpoint(s) {
            padding: 1.5rem;
        }

        @include breakpoint(xs) {
            padding: 1rem;
        }

        a { 
            position: absolute; 
            z-index: 10;
            width: 100%; 
            height: 100%; 
            left: 0;  
            top: 0; 
            opacity: 0; 
            font-size: 0;  
        }

        h3 { 
            font-family: 'Bitter'; 
            font-size: 1.8rem;
            font-weight: 400; 
            line-height: 1.3;
            overflow: hidden; 
            text-overflow: ellipsis;
            hyphens: auto;

            @include breakpoint(s) {
                font-size: 1.65rem;
            }

            @include breakpoint(xs) {
                font-size: 1.3rem;
            }
        }

        time {
            display: block;
            font-family: 'Lato';
            position: relative;
            padding: 0 0 15px; 
            color: rgba(255, 255, 255, 0.65);
            overflow: hidden; 

            @include breakpoint(xs) {
                font-size: .95rem; 
            }

            &:after {
                content: ""; 
                position: absolute;
                left: 0;
                bottom: 0; 
                height: 4px; 
                background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(255,255,255,0.8) 60%,rgba(255,255,255,0.8) 87%,rgba(255,255,255,0) 100%);
                transform: translate3d(-100%, 0px, 0px); 
                transition: transform 0.35s ease 0s; 
                width: 100%;

                @include breakpoint(xs) {
                    height: 3px; 
                }
            }
        }

        p {
            max-width: 100%;  
            margin: 0; 
            padding: 10px 0 0; 
            opacity: .65;

            @include breakpoint(s) {
                font-size: 1rem; 
            }
        }
    }

    &:hover {
        .newsitemtext {
            background: linear-gradient(135deg, rgba(255,102,0,0.7) 0%,rgba(255,120,30,0.6) 100%); 
            text-shadow: none; 
            transition: background 0.2s ease 0s;  

            p {
                opacity: 1; 
                transition: opacity 0.2s ease 0s;  
            }
        }

        .newsimage {
            background-position:  0px center;  
            filter: blur(6px) grayscale(100%) brightness(80%);
            transition: 0.2s ease 0s;  

        }

        time:after { 
            transform: translate3d(0px, 0px, 0px);
        }
    }
}

/* regular news */
.other-news {
    background: $white; 

    > div {
        padding: 1.5rem;

        @include breakpoint(xs) {
            padding: 1rem;
        }
    } 

    h2 {
        color: #808080; 
    }

    .newsitem {
        margin-bottom: 10px; 
        padding-bottom: 10px; 
        border-bottom: 1px solid #e4ddd1; 

        &:last-child {
            border:none; 
        }

        time {
            color: #959595;
        }

        a { 
            display: table; 
            color: $hacker_orange; 
            font-weight: 600; 
            text-decoration:none; 
            padding-bottom: 2px; 

            &:hover, &:focus {
                border-bottom: 2px solid $hacker_orange; 
                padding-bottom: 0; 
            }
        }

    }
}

.vertical-news {
    overflow: hidden; 

    @include breakpoint(m) {
        min-height: 260px; 

    }
    @include breakpoint(s) {
        min-height: 180px;

    }
}

/* sidebar with links */
.hackernews {
    margin-top: 5px; 
    background: #e4ddd1;

    > div {
        padding: 0 1rem 2rem;
    }

    a {
        display: block; 
        margin-bottom: 10px; 
        color: $black; 
        font-size: 1.1rem; 
        font-weight: 700; 
        text-decoration: none; 

        span { 
            display: inline-block;

            &:first-child {
                min-width: 70px; 

                i {
                    box-sizing: border-box;
                    width: 45px;
                    height: 45px;
                    padding: 11px 5px 0;
                    border-radius: 50%;
                    background: $black;
                    color: $white;
                    font-size: 22px;
                    text-align: center;
                }

            }
        }
    }
}


/* error style */
.error {
    padding: 20px; 
    background: $hacker_orange; 
    color: $white; 
    font-size: 1.2rem;
    text-align: center; 

    ~ div {
        display: none; 
    }
}

